#projeto-div {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: rgb(51, 51, 51);
    text-shadow: 10px 10px 10px black;
}

#projeto-div a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border: 2px solid white;
    transition: 1s;
    background-color: black;
}

#projeto-div a:hover {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    color: black;
    transition: 1s;
    box-shadow: 5px 5px 10px black;
}

#projeto-div h2 {
    font-size: 35px;
    padding-top: 40px;
}

#projeto-div p {
    padding-bottom: 20px;
}

#projeto-div div {
    padding: 50px;
    
}

#projeto1 {
    background-color: rgb(51, 51, 51);
}

#projeto2 {
    background-color: rgb(34, 33, 33);
}

#projeto3 {
    background-color: rgb(51, 51, 51);
}

#projeto-div img {
    margin: 20px;
    border: 2px solid white;
    object-fit: cover;
}